/* src/components/Footer.css */
.app-footer {
    background-color: #01274D; /* Azul Navy */
    color: #FFFFFF; /* Blanco */
    text-align: center;
    padding: 30px 20px;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.app-footer p {
    margin: 10px 0;
    font-size: 16px;
}

.app-footer a {
    color: #29CFC5; /* Azul Tiffany */
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    transition: color 0.3s ease;
}

.app-footer a:hover {
    color: #FFFFFF; /* Blanco */
}

