/* src/components/Sidebar.css */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: var(--color-azure);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 15px;
}

.menu li a {
    display: block;
    padding: 10px;
    background-color: var(--color-azul-tiffany);
    color: var(--color-azul-navy);
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.menu li a:hover {
    background-color: var(--color-amarillo-canario);
    color: var(--color-azul-navy);
}
