@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap'); /* Importa la fuente Orbitron */

.signupadvisor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    background-image: url('../assets/background.jpg'); /* Asegúrate de que la imagen esté en la ruta correcta */
    background-size: cover;
    background-position: center;
    overflow-y: auto; /* Permite el desplazamiento vertical en caso de que el contenido sea más alto que el contenedor */
}

.signupadvisor-box {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 100%;
    max-width: 400px; /* Tamaño más compacto para el formulario */
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}

.signupadvisor-box h2 {
    font-size: 24px;
    margin-bottom: 30px;
    color: var(--color-blanco);
    font-family: 'Orbitron', sans-serif; /* Aplica la fuente Orbitron al título */
}

.signupadvisor-input {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    padding-left: 10px;
    font-size: 16px;
    color: var(--color-azul-navy);
    box-sizing: border-box;
}

.signupadvisor-button {
    width: 100%;
    height: 50px;
    background-color: var(--color-amarillo-canario);
    border: none;
    border-radius: 8px;
    font-size: 20px;
    color: var(--color-blanco);
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.signupadvisor-button:hover {
    background-color: var(--color-azul-tiffany);
}

.login-link {
    margin-top: 20px;
    font-size: 14px;
    color: var(--color-blanco);
    text-decoration: none;
}

.login-link:hover {
    color: var(--color-azul-tiffany);
}

/* Diseño responsivo para dispositivos pequeños */
@media (max-width: 768px) {
    .signupadvisor-box {
        max-width: 100%;
        padding: 20px 15px;
    }

    .signupadvisor-input {
        height: 40px;
        font-size: 14px;
    }

    .signupadvisor-button {
        height: 45px;
        font-size: 16px;
    }

    .signupadvisor-box h2 {
        font-size: 20px;
    }
}
