/* src/components/UserTypeSelection.css */

.user-type-container {
    background-color: var(--color-azul-navy);
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    color: var(--color-blanco);
    padding: 20px;
}

.user-type-box {
    background-color: var(--color-azure);
    width: 500px; /* Reducimos un poco el ancho para mejor proporción */
    padding: 40px;
    border-radius: 20px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.user-type-box h2 {
    font-size: 24px; /* Tamaño más pequeño y balanceado */
    margin-bottom: 30px;
    color: var(--color-blanco);
}

.cta-buttons {
    display: flex;
    justify-content: space-around;
    gap: 20px; /* Añadimos un poco de espacio entre los botones */
    margin-top: 20px;
}

.user-button {
    width: 150px;
    height: 65px; /* Ajuste de altura para mejor proporción */
    background-color: var(--color-amarillo-canario);
    border: none;
    border-radius: 8px; /* Esquinas redondeadas */
    font-size: 18px;
    color: var(--color-azul-navy);
    cursor: pointer;
}

.user-button:hover {
    opacity: 0.8;
}
