/* src/components/VerifyCode.css */

.verify-code-container {
    background-color: var(--color-azul-navy);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.verify-code-box {
    background-color: var(--color-azure);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.verify-code-input {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    padding-left: 10px;
    font-size: 18px;
    color: var(--color-azul-navy);
}

.verify-code-button {
    width: 100%;
    height: 45px;
    background-color: var(--color-amarillo-canario);
    border: none;
    border-radius: 8px;
    font-size: 20px;
    color: var(--color-azul-navy);
    cursor: pointer;
}

.error {
    color: var(--color-azul-tiffany);
    margin-bottom: 20px;
}

.success {
    color: var(--color-azul-tiffany);
    margin-bottom: 20px;
}
