/* src/App.css */

/* Definición de variables para la paleta de colores */
:root {
  --color-azul-navy: #01274D;
  --color-azure: #337BC2;
  --color-azul-tiffany: #29CFC5;
  --color-amarillo-canario: #FFFF00;
  --color-blanco: #FFFFFF;
}

/* Estilos globales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--color-azul-navy);
  color: var(--color-blanco);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header,
.App-footer {
  flex-shrink: 0;
}

.App-main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para botones */
button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: var(--color-amarillo-canario);
  color: var(--color-azul-navy);
  border: none;
  border-radius: 8px; /* Esquinas redondeadas */
  cursor: pointer;
}

button.secondary {
  background-color: var(--color-azul-tiffany);
}

button:hover {
  opacity: 0.8;
}

/* Estilo para los enlaces */
a {
  text-decoration: none;
  color: var(--color-blanco);
}

a:hover {
  color: var(--color-azul-tiffany);
}

/* Estilo para el header */
header {
  background-color: var(--color-azul-navy);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 50px;
  margin: 0;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

header nav ul li {
  font-size: 20px;
}

header nav ul li a {
  color: var(--color-blanco);
}

header nav ul li a:hover {
  color: var(--color-azul-tiffany);
}

/* Estilo para el footer */
footer {
  background-color: var(--color-azul-navy);
  padding: 20px;
  text-align: center;
  color: var(--color-blanco);
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 5px 0;
}

footer a {
  color: var(--color-blanco);
}

footer a:hover {
  color: var(--color-azul-tiffany);
}

/* Estilos específicos para secciones y componentes */
.home-page,
.user-type-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.home-page h2,
.user-type-box h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.home-page p {
  font-size: 20px;
  margin-bottom: 40px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
